<div data-search-subscriptions-target="list">


  <div>
    <p class="h3">
    <% if params[:query].blank? %>
      <%= pluralize @result, 'subscription' %> available
    <% else %>
      <%= pluralize @result, 'result' %> for <code><%= params[:query] %></code>
    <% end %>
    </p>
  </div>
  <div class="category-box">


    <% @subscriptions.each do |category, plans| %>
    <h3 class="categorytitle mb-5"><%= "#{category}" %></h3>
    <div class="info">
      <div class="subscriptions-list-wraper" id="subscriptions">
        <div class="row">
          <div class="col-md">
            <div class="d-flex flex-column-reverse flex-reversed">

              <%  plans.each do |free, subscriptions|  %>

                  <% if free %>
                      <div class="cards bg p-4 px-4 mt-5 mb-5 position-relative" style="background: #f8f9fa;border-left: 9px solid #e96a70;">

                        <%# FREE SUBCRIPTIONS %>
                        <% subscriptions.each do |subscription| %>
                          <% border = (subscription.notification_date - Date.today).to_i %>

                          <%# <%= link_to subscription_path(subscription) do %>

                            <div class="subscription-card position-relative">

                              <%# LOGO %>
                              <div class="logo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= subscription.image_url %>)"></div>

                              <div class="titlesection">
                              <%# CATEGORY %>
                                <div class="text-muted">
                                  <span class="badge badge-light p-1"><%= subscription.category %></span>
                                </div>
                                <%# TITLE %>
                                <div class="title">
                                  <%= subscription.title %>
                                </div>
                              </div>

                              <%# EMPTY 2 %>
                              <div class="empty2">
                              </div>

                              <%# PRICE %>
                              <div class="bottom-right d-flex justify-content-end align-items-center">
                                <% if border < 6 %>
                                  <%# display the right image here %>


                                  <img class="card-img-top position-absolute" src="https://cdn-icons-png.flaticon.com/512/595/595067.png" alt="warning">
                                <% end %>


                                <div class='text-align-right'>
                                  <div class="price d-flex justify-content-end">
                                    <span class="currency mb-0">
                                      <%= subscription.currency %>
                                    </span>

                                    <span class="value mb-0 pl-1">
                                      <%= subscription.price %>
                                    </span>
                                  </div>

                                  <span class="type mb-0">
                                    <%= subscription.sub_type %>
                                  </span>
                                </div>

                              </div>

                              <%# HOVER BOX %>

                              <div class="w-100 hover-box position-absolute px-2 p-4 align-items-baseline">
                                <%# Days till renewal %>
                                <div class="d-flex align-items-end">
                                  <% days = ((subscription.start_date + subscription.trial ) - Date.today).to_i %>

                                  <% if days.zero? %>
                                    <span>TODAY</span>
                                  <% else %>
                                    <div class="position-relative" style="font-size: 3rem; font-weight: 700">
                                      <%= days %>
                                      <div class="legend">
                                        <p class="mb-0">Days</p>
                                        <p class="mb-0">till renewal</p>
                                      </div>
                                    </div>
                                  <% end %>

                                </div>

                                <%# buttons holder %>
                                <div class="d-flex justify-content-around align-items-end">
                                  <%= link_to subscription_path(subscription),
                                      method: :delete,
                                      data: { confirm: 'Are you sure ?'} do %>
                                    <i class="fas fa-minus-square text-white"></i>
                                  <% end %>

                                  <%= link_to edit_subscription_path(subscription) do %>
                                    <i class="fas fa-pen-square text-white"></i>
                                  <% end %>
                                </div>
                              </div>

                            </div>

                          <%# <% end %>
                        <% end %>
                      </div>
                  <% else %>
                      <div class="cards bg p-4 px-4 mt-5 mb-5 position-relative" style="background: #f8f9fa;border-left: 9px solid #457B9D;">

                        <%# PREMIUM SUBSCRIPTIONS %>
                        <% subscriptions.each do |subscription| %>
                          <% border = (subscription.notification_date - Date.today).to_i %>



                            <div class="subscription-card position-relative">

                              <%# LOGO %>
                              <div class="logo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= subscription.image_url %>)"></div>
                              <div class="titlesection">
                              <%# CATEGORY %>
                                <div class="text-muted">
                                  <span class="badge badge-light p-1"><%= subscription.category %></span>
                                </div>
                                <%# TITLE %>
                                <div class="title">
                                  <%= subscription.title %>
                                </div>
                              </div>

                              <%# EMPTY 2 %>
                              <div class="empty2"></div>

                              <%# PRICE %>
                              <div class=" bottom-right d-flex justify-content-end align-items-center">
                                <% if border < 6 %>
                                  <%# display the right image here %>
                                  <img class="card-img-top position-absolute" src="https://cdn-icons-png.flaticon.com/512/595/595067.png" alt="warning">
                                <% end %>

                                <div class='text-align-right'>
                                  <div class="price d-flex justify-content-end">
                                    <span class="currency mb-0">
                                      <%= subscription.currency %>
                                    </span>

                                    <span class="value mb-0 pl-1">
                                      <%= subscription.price %>
                                    </span>
                                  </div>

                                  <span class="type mb-0">
                                    <%= subscription.sub_type %>
                                  </span>
                                </div>

                              </div>

                              <%# HOVER BOX %>

                              <div class="w-100 hover-box position-absolute px-2 p-4 align-items-baseline">
                                <%# Days till renewal %>
                                <div class="d-flex align-items-end">
                                  <% days = (subscription.notification_date + 1 - Date.today).to_i %>

                                  <% if days.zero? %>
                                    <span>TODAY</span>
                                  <% else %>
                                    <div class="position-relative" style="font-size: 3rem; font-weight: 700">
                                      <%= days %>
                                      <div class="legend">
                                        <p class="mb-0">Days</p>
                                        <p class="mb-0">till renewal</p>
                                      </div>
                                    </div>
                                  <% end %>

                                </div>

                                <%# buttons holder %>
                                <div class="d-flex justify-content-around align-items-end">
                                  <%= link_to subscription_path(subscription),
                                      method: :delete,
                                      data: { confirm: 'Are you sure ?'} do %>
                                    <i class="fas fa-minus-square text-white"></i>
                                  <% end %>

                                  <%= link_to edit_subscription_path(subscription) do %>
                                    <i class="fas fa-pen-square text-white"></i>
                                  <% end %>
                                </div>
                              </div>
                            </div>

                        <% end %>
                      </div>
                  <% end %>

              <% end %>
            </div>

          </div>
        </div>
      </div>

    </div>
    <% end %>
  </div>

</div>
