
<div class="banner-show-page" style="background-image:url(https://images.unsplash.com/photo-1614680376593-902f74cf0d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80);">
  <div class="container">

    <div class="row justify-content-start">
      <div class= "subscription-title">
        <span><%= @subscription.title %></span>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-around">
    <div class="my-profile col-md-4 px-0">

      <h2>My Profile</h2>
      <br>
      <%# <%= cl_image_tag avatar.key %>
      <%# <% if @user.avatar.attached? %>
      <%# <%= cl_image_tag("user") %>
      <%# <% end %>
      <img src="https://pyxis.nymag.com/v1/imgs/da7/3f4/df4afe9cf95ad30101154ca391a0a24f94-12-christian-bale.2x.rsquare.w330.jpg" class="avatar-bordered " alt="">
      <%# <i class="fas fa-user-ninja s-7"></i> %>
      <%# <i class="fas fa-camera"></i> %>
      <br>
      <%# url(<%=  cl_img "#{key}"subscription.avatar %>
      <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
      <h5> SMS number :</h5>
      <p> <%= current_user.sms_number %> </p>
      <h5>  Whatsapp number:</h5>
      <p><%= current_user.whatsapp_number %> </p>
      <h5> Email :</h5>
      <p><%= current_user.email %> </p>
    </div>

    <div class="profile-info col-md-6">


      <table class="table table-hover text-left">
        <tbody>
          <tr>
            <td>Category</td>
            <td> <%= @subscription.category %> </td>
          </tr>
          <tr>
            <td>Type</td>
            <td><%= @subscription.sub_type %></td>
          </tr>
          <tr>
            <td>Price</td>
            <td> <%= @subscription.price %> </td>
          </tr>
          <tr>
            <td>Currency</td>
            <td><%= @subscription.currency %></td>
          </tr>
          <tr>
            <td>Reminder</td>
            <td>
                <% if @subscription.notify %>
                  <%= "set" %>
                <% else %>
                  <%= "not set" %>
                <% end %>
            </td>
          </tr>
          <tr>
            <td>Notify before (days)</td>
            <td><%= @subscription.notify_before %></td>
          </tr>
          <tr>
            <td>Days from purchase date</td>
            <td><%= (Date.today - @subscription.start_date).to_i %></td>
          </tr>
        </tbody>
      </table>
      <div class="edit-buttons">
        <%= link_to 'Back', subscriptions_path, class: 'btn btn-back' %>

        <%= link_to 'Edit', edit_subscription_path(@subscription), class: 'btn btn-edit' %>

        <%= link_to subscription_path(@subscription),
                    method: :delete,
                    class: 'btn btn-delete',
                    data: { confirm: 'Are you sure ?'} do %>
                    <i class="fas fa-trash-alt"></i>
        <% end %>
        <br>
        <br>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
